Django>=3
djangorestframework>=3

# per object permissions framework
rules

# needed for ratings nested model
drf-extensions

# needed for generation openapi schemas
pyyaml
uritemplate

# needed for live documentation of the api
drf-yasg

# parse urls
tldextract