-r requirements-common.txt
pylint
pytest
pytest-django
black
pylint-django
mypy

black

# logging HTTP requests/responses 
django-request-logging

# compare object trees
deepdiff

# mock http responses
responses

# mypy types
django-stubs
djangorestframework-stubs
celery-stubs
boto3-stubs

# to generate model graphs
pydotplus
