Django>=3.1
djangorestframework>=3
gunicorn

# per object permissions framework
rules

# needed for ratings nested model
drf-extensions

# needed for generation openapi schemas
pyyaml
uritemplate

# needed for live documentation of the api
drf-yasg

# parse urls
tldextract

# jwt authentication
djangorestframework-simplejwt

# set of helpers for manage.py
# check https://github.com/django-extensions/django-extensions
django-extensions
